:root{
  --font: "Roboto", sans-serif;
  --blanco: #fff;
  --negro: #262626;
  --gris: #e2e2e2;
}


body {
  margin: 0;
  font-family: var(--font);
  background-color: #262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

